/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}
.body{
  width: 98vw;
  height: 98vh;
  display: flex;
}
.leftCont{
  width: 30%;
  height: 100%;
  background-color: brown;
}
.rightCont{
  width: 30%;
  height: 100%;
  background-color: blueviolet;
}
.midCont{
  width: 40%;
  height: 100%;
  background-color: black;
}

.gameBoard{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  row-gap: 10px;
  column-gap: 10px;
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-items: center; */
}

.gamediv{
  background-color: #8ca0ff;
}